

<!doctype html> <!--this says that what is about to follow is html 5-->
<html>
  <head>
    <meta charset="utf-8"> <!-- charset is html attribute key and utf is value-->
    <title>Cats!!</title>
  </head>
  <body>
    <header>All about Cats</header>
    <nav>
      <a href = "/">Home Page</a>
      <a href ="/dogs">Dog Page</a>
      <a href ="/cats">Cat Page</a>
      <a href ="/ninjas">Ninjas Page</a>
      <a href ="/pirates">Pirates Page</a>
    </nav>
    <img src = "http://cbsnews2.cbsistatic.com/hub/i/r/2014/04/15/4ea65e0b-4b11-43d8-9751-1a52f7a9fc3a/thumbnail/620x350/75a030bb4fb3f6576ddaa6e44371d0f1/cat-istock-000025213483.jpg">
    <img src = "http://a-z-animals.com/media/animals/images/470x370/cat1.jpg">
    <img src = "/images/funnycat.jpg">
    <iframe width="420" height="315" src="//www.youtube.com/embed/FtX8nswnUKU" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="//www.youtube.com/embed/Kdgt1ZHkvnM" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c) Cats</small> 
    </footer>
  </body>
<html/>
