
<!doctype html> <!--this says that what is about to follow is html 5-->
<html>
  <head>
    <meta charset="utf-8"> <!-- charset is html attribute key and utf is value-->
    <title>Dogs!!</title>
  </head>
  <body>
    <header>All about Dogs</header>
    <nav>
      <a href = "/">Home Page</a>
      <a href ="/dogs">Dog Page</a>
      <a href ="/cats">Cat Page</a>
      <a href ="/ninjas">Ninjas Page</a>
      <a href ="/pirates">Pirates Page</a>
    </nav>
    <img src = "http://barkpost-assets.s3.amazonaws.com/wp-content/uploads/2013/11/grumpy-dog-11.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/NyFBbQrNLjA" frameborder="0" allowfullscreen></iframe>
    <footer>
      <small>(c) Dogs</small> 
    </footer>
  </body>
<html/>
