<!doctype html> <!--this says that what is about to follow is html 5-->
<html>
  <head>
    <meta charset="utf-8"> <!-- charset is html attribute key and utf is value-->
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <header>My header</header>
    <nav>
      <a href = "/">Home Page</a>
      <a href = "/dogs">Dogs Page</a>
      <a href = "/cats">Cats Page</a>
      <a href = "/ninjas">Ninjas Page</a>
      <a href ="/pirates">Pirates Page</a>
    </nav>
    <h1>My header</h>
    <article>
      <h2>Toy Story</h2>
      <p>Toy Story is a really funny movie!</p>
      <img src = "http://screenshots.fr.sftcdn.net/fr/scrn/113000/113744/toy-story-3-wallpaper-1.jpg"><br>
      <a href = "http://toystory.disney.com/">Click to go to Toy Story site</a><br>
      <iframe width="560" height="315" src="//www.youtube.com/embed/EDlGWjctbXQ" frameborder="0" allowfullscreen></iframe>
      <h2>Article header</h2>
      <p>this is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small> 
    </footer>
  </body>
<html/>
doctype
